<div class="backgroundImage">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="backwords-title">
                <strong>Matching Big Ideas with Customer Needs</strong>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p class="backwords-describe">
                <strong>Tracking your startup success metrics every step of the way</strong>
            </p>
        </div>
    </div>
    <div class="row backgroundButton">
        <div class="col-md-2 col-md-offset-3">
            <a class="btn center-block watchVideo" id="watchVideo" href="javascript:void(0)" target="_blank">Watch Demo</a>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <a class="btn center-block signUp" href="https://www.venturx.ca/#/signup" target="_blank">Sign Up</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3 class="text-center text-black">COMPANIES THAT LOVE VENTURX</h3>
    </div>
</div>
<div class="row companyImage">
    <div class="col-md-3">
        <img class="img-responsive center-block align-middle" alt="Bootstrap Image Preview" src="./images/FirstStone.jpg">
    </div>
    <div class="col-md-3">
        <img class="img-responsive center-block align-middle" alt="Bootstrap Image Preview" src="./images/pme.png">
    </div>
    <div class="col-md-3">
        <img class="img-responsive center-block align-middle" alt="Bootstrap Image Preview" src="./images/JetCapital.png">
    </div>
    <div class="col-md-3">
        <img class="img-responsive center-block align-middle" alt="Bootstrap Image Preview" src="./images/yes.png">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="slogan1">The success of entrepreneurs will drive the success of the entire ecosystem</p>
        <p class="slogan2">VenturX provides an online tool that helps entrepreneurs find their product market fit, determine their financial runway,track their conversion rates, and evaluate their engagement metrics.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="./images/Enterprise.png" class="img-responsive center-block" alt="Responsive Image">
            <div class="caption">
                <p>Measure the viability of your idea and whether you are ready for launch</p>
                <p><b>Beta is free for a limited time</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="./images/incubators.png" class="img-responsive center-block" alt="Responsive Image">
            <div class="caption">
                <p>Track how your entrepreneurs are doing and generate aggregate reporting about your overall program</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <img src="./images/investors2.png" class="img-responsive center-block" alt="Responsive Image">
            <div class="caption">
                <p>Assess the maturity of early stage startups by reviewing their traction</p>
            </div>
        </div>
    </div>
</div>
<div class="peopleSaying">
    <div class="row">
        <div class="col-md-12" id="peopleSayingTitle">
            <p>What People Are Saying About VenturX</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <p class="comment1">“Good tool at the right time!”</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="thumbnail" id="commentPic">
                        <img src="./images/christian_perron.jpg" alt="">
                        <div class="caption">
                            <p>CHRISTIAN PERRON<br><b>PME MTL DIRECTOR</b></p>
                            <p>PME gives $40 million to startups every year</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <p class="comment2">"Venturx gave me crucial insights on customer needs that I couldn't gain on interviews alone...quantitative data that Venturx provides is a useful tool to avoid losing both time and money - both of which are limited in early phases"</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                    <div class="thumbnail" id="commentPic">
                        <img src="./images/stephanie_palermo.jpg">
                        <div class="caption">
                            <p>STEPHANIE COCO PALERMO<br><b>Entrepreneur</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Follow Us</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3">
                <a class="btn" href="https://www.facebook.com/venturx.ca/?ref=aymt_homepage_panel" target="_blank"><img class="img-responsive" src="./images/facebook.png" alt="VenturX Facebook Page" title="VenturXFacebookPage"/></a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a class="btn" href="https://twitter.com/VenturX_team" target="_blank"><img class="img-responsive" src="./images/twitter.png" alt="VenturXTwitter" title="VenturXTwitter"/></a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a class="btn" href="https://www.youtube.com/channel/UCeGEA8Dh4FEEdWqOJNxlzAw" target="_blank"><img class="img-responsive" src="./images/youtube.jpg" alt="VenturXYoutubeChannel" title="VenturXYoutubeChannel"/></a>
            </div>
            <div class="col-xs-3 col-md-3">
                <a class="btn" href="https://www.linkedin.com/company/10680042?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10680042%2Cidx%3A2-1-2%2CtarId%3A1470851232239%2Ctas%3Aventurx"
                   target="_blank"><img class="img-responsive" src="./images/linkedin.png" alt="VenturX LinkedIn Page" title="VenturXLinkedInPage"/></a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Have Feedback or Suggestions?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3"> 
                <a class="btn" href="mailto:sydney.wong@venturx.ca"><img class="img-responsive" src="./images/email_button.png" alt="Email Button"/></a>
            </div>
        </div>
    </div>
</div>
<div id="vidBox">
    <div id="videCont">
        <video id="v1" loop controls>
            <source src="/media/demo.mp4" type="video/mp4">
        </video>
    </div>
</div>
<script>
    $(function () {
        $('#vidBox').VideoPopUp({
            backgroundColor: "#17212a",
            opener: "watchVideo",
            maxweight: "340",
            idvideo: "v1"
        });
    });

</script>
<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
