<div class="container" style="padding: 4%;">
  <div class="row">
		<h2><b>Web Site Terms and Conditions of Use IMPORTANT!</b></h2><br>
		<h5>Please read these terms of use carefully before using this website, which affect your legal rights
and obligations.This Site at www.VenturX.com is fully controlled and operated by VenturX Inc.
("VenturX").
By accessing and using this Site, you agree to the Terms of Use ("Terms of Use").
If you do not agree to the Terms of Use, you are not authorized to use the Site and you must
stop using it immediately.
We reserve the right, at our sole discretion, to change, modify or otherwise alter these terms of
use at any time. Such changes and/or modifications shall become effective immediately upon
the posting thereof. Please review the terms of use periodically. Your continued use of the Site
following the posting of changes and/or modifications will constitute your acceptance of the
revised terms of use.
These Terms of Use apply to the websites, mobile apps, applications and other interactive
features or services that post a link to these Terms of Use (each, a "Service" and collectively,
the "Services" or "VenturX Services"). VenturX Inc. is referred to in these Terms of Use as
"VenturX,"VenturX Services," "we" or "our."
"You," "your" and "user" refer to any person or entity using the Services.
These Terms of Use govern your use of the Services, regardless of how you access them,
whether by computer, mobile device, or otherwise; and whether directly through our Services, or
through any third-party website that links to them ("Linked Services"), and regardless of whether
you are a registered user or a guest.</h5><br>

<h2><b>OWNERSHIP OF INTELLECTUAL PROPERTY</b></h2><br>
<h5>All Site software, design, text, images, photographs, illustrations, audio clips, video clips,
artwork, graphic material, or other copyrightable elements, and the selection and arrangements
thereof, and trademarks, service marks and trade names (the "Material") are the property of
VenturX.
All Material is protected, without limitation, pursuant to Canadian and foreign copyright and
trademark laws. VenturX hereby grants you a personal, non-exclusive, non-assignable and nontransferable
license to use and display, for noncommercial and personal use only, one copy of
any material that you may download from this Site, including, without limitation, any files, codes,
audio or images incorporated in or generated provided that you maintain all copyright and other 
notices contained in such Material. You agree not to reproduce, modify, create derivative works
from, display, perform, publish, distribute, disseminate, broadcast or circulate any Material to
any third party (including, without limitation, the display and distribution of the Material via a third
party website) without the express prior written consent of VenturX. Use of VenturX's Material is
only permitted with their express written permission. You further agree that you will not
disassemble, decompile, reverse engineer or otherwise modify the Material. Any unauthorized
or prohibited use may subject the offender to civil liability and criminal prosecution under
applicable laws.</h5><br>

<h2><b>USER CONTENT AND ACTIVITIES</b></h2>
<h5>When you submit, post, upload, embed, display, communicate, link to, email or otherwise
distribute or publish any review, problem, suggestion, idea, solution, question, answer,
comment, testimonial, feedback, message, image, video, text, or other material ("User Content")
to Action Fractions, any VenturX employee or contractor, or a VenturX web Site, you grant
VenturX and our affiliates, licensees, distributors, agents, representatives and other entities or
individuals authorized by VenturX, a non-exclusive, worldwide, perpetual, unlimited, irrevocable,
royalty-free, fully sublicensable (through multiple tiers) and fully transferable right to exercise
any and all copyright, trademark, publicity, and database rights you have in the content, in any
media known now or in the future, and to make, use, reproduce, copy, display, publish, exhibit,
distribute, modify, sell, offer for sale, create derivative works based upon and otherwise use the
User Content.
</h5><br>

<h2><b>DISCLAIMER AND LIMITATION OF LIABILITY</b></h2>
<h5>The VenturX websites and services are provided on an "as is," "as available," and "with all
faults" basis and without warranties of any kind, either express or implied. To the fullest extent
permissible under applicable law, VenturX and its directors, employees, managers, officers,
agents, representatives, vendors and third party licensors of content sold through VenturX
(collectively the "VenturX parties") specifically make no representations, warranties, or
endorsements of any kind, whether express or implied, as to (a) the services; (b) the VenturX
content; (c) user content; and/or (d) security associated with the transmission of information to
VenturX or via the services. In addition, the VenturX parties disclaim all warranties, express,
implied, or statutory, including, but not limited to, warranties of fitness for a particular purpose, of
merchantability,non-infringement, title, custom, trade, quiet enjoyment, system integration, and
freedom from computer virus.
Without limiting the foregoing, the VenturX parties specifically do not warrant that the services
will be error-free, that defects will be corrected or that the services or the server, network or
other software and equipment that makes them available are free of viruses or other harmful 
components. VenturX does not make any representations or warranties regarding the content of
its products, websites or services, or regarding the results of the use of the services in terms of
their completeness, correctness, accuracy, reliability, usefulness or otherwise, unless
specifically set out on the services.
The resources on VenturX.com are available merely as informational resources and should not
be considered substitutes for applicable ones own research. In using this Site, you specifically
agree not to use, claim or submit as your own any portion of the help materials. You further
agree the Services may present information that is incorrect or inconsistent when compared to
similar content and materials, including solutions and their methodologies, provided or preferred
by publishers of applicable problems or instructors of applicable courses.
You acknowledge that your use of the services are at your sole risk. VenturX does not warrant
that your use of the services is lawful in any particular jurisdiction. Some jurisdictions limit or do
not allow the disclaimer of implied or other warranties so the above disclaimer may not apply to
the extent such jurisdiction's law is applicable to these terms.
By accessing or using the services you represent and warrant that your activities are lawful in
every jurisdiction where you access or use the services.
VenturX is not responsible for the user content, accuracy or opinions expressed in user content
posted or provided by third parties on the services or linked services, and such services are not
necessarily investigated, monitored or checked for accuracy or completeness by VenturX.
Inclusion of any linked website or feature on the services does not imply approval or
endorsement of the linked website or feature by VenturX. In addition, VenturX is not responsible
for, and specifically disclaims any responsibility or liability to any person or any entity for any
damage (whether actual, consequential, punitive or otherwise), injury, loss, claim, or liability or
other cause of any kind or character based upon or resulting from any user content or by any of
the equipment or programming associated with or utilized in the services or linked services.
Posts and linked services created and posted by users on, though or in connection with the
services may contain links to other websites or services. VenturX takes no responsibility for third
party advertisements or linked services that are posted on, through or in connection with the
services or linked services, nor do we take any responsibility for the goods or services provided
by these third parties.
Under no circumstances will VenturX be responsible for any loss or damage, including, without
limitation, personal injury or death, resulting from use of the services or linked services,
attendance at a VenturX event, from any user content posted on or through the services or
linked services, or from the conduct of any users of the services, whether online or offline. This
"disclaimers" section shall survive any expiration or termination of your relationship with
VenturX.
</h5><br>

<h2><b>LEGAL DISPUTES</b></h2><br>
<h5>If a dispute arises between you and VenturX, our goal is to provide you with a neutral and cost
effective means of resolving the dispute quickly. Accordingly, you agree that we will resolve any
claim or controversy at law or equity that relates to or arises out of the Terms of Use or the
Services or your use of the Services (a "Claim") in accordance with the subsections below.
You agree that any dispute, claim or controversy arising out of or relating to these Terms of Use
or the breach, termination, enforcement, interpretation or validity thereof (collectively,
"Disputes") will be settled by binding arbitration; except that either party retains the right to bring
an individual action in small claims court. You acknowledge and agree that you are waiving the
right to a trial by jury or to participate as a plaintiff or class member in any purported class action
or representative proceeding. Further, unless both you and VenturX otherwise agree, the
arbitrator may not consolidate more than one person's claims, and may not otherwise preside
over any form of any class or representative proceeding. If this specific paragraph is held
unenforceable, then the entirety of this "Legal Disputes" section will be deemed void. This
"Legal Disputes" section will survive any termination of these Terms of Use. Notwithstanding the
foregoing, each party reserves the right to seek injunctive or other equitable relief in a court of
competent jurisdiction with respect to any dispute related to the actual or threatened
infringement, misappropriation or violation of a party's intellectual property or proprietary rights
or breach of the User Content and Activities provisions of this Agreement.
These Terms of Use, your access to and use of the Website, and all related matters are
governed solely by the laws of the Province of Quebec, Canada and applicable federal laws of
Canada. Any action taken in a small claims court between you and VenturX will be resolved
before the Courts of the Province of Quebec, sitting in the City of Montreal to the exclusion of
the courts of another jurisdiction, and you hereby irrevocably waive any objection to the original
and exclusive jurisdiction and venue of those courts in respect of all Disputes.</h5>

<h2><b>ENTIRE AGREEMENT</b></h2><br>
<h5>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not
constitute a waiver of such right or provision.
These Terms of Service and any policies or operating rules posted by us on this site or in
respect to our Services constitutes the entire agreement and understanding between you and
us and govern your use of the Service, superseding any prior or contemporaneous agreements,
communications and proposals, whether oral or written, between you and us (including, but not
limited to, any prior versions of the Terms of Service).
Any ambiguities in the interpretation of these Terms of Service shall not be construed against
the drafting party.</h5><br>

<h2><b>CONTACTING VenturX</b></h2>
<h5>If you have any questions or concerns regarding the VenturX Websites or Services, please write
to us at <a href="mailto:team@venturx.ca">team@venturx.ca</a> or at our offices located at 65 Sherbrooke E, Montréal, QC H2X1C4.
All notices, authorizations, and requests to VenturX shall be deemed given on receipt.</h5>

	</div>
</div>
