<div class="container">
  <div class="row">
		<div ng-contoller="EngagementCtrl" class="col-xs-12 col-md-10">
      <div ng-show="hasError" class="alert alert-danger"><span class="center">Error!: {{error}}</span><span class="pull-right" ng-click="hasError = false;">&times;</span></div>
			<form>
        <div class="form-group">
        <label for="registered">1. How many users or customers do you currently have?</label>
        <input type="number" class="form-control" ng-model="engagement.registered" id="registered" placeholder="">
        </div>
        <div class="form-group">
				<label for="resigned">2. Of your current users/customers, how many people signed on more than once or visited your business more than once? (may not be applicable to all industries)</label>
				<input type="number" class="form-control" ng-model="engagement.resigned" id="resigned" placeholder="">
			  </div>
			  <div class="form-group">
				  <label for="used">3. How many customers used the product or service?</label>
				  <input type="number" class="form-control" ng-model="engagement.used" id="used" placeholder="">
			  </div>
        <div class="form-group">
				  <label for="referred">4. How many customers gave you a referral? (to another potential customer)</label>
				  <input type="number" class="form-control" ng-model="engagement.referred" id="referred" placeholder="">
			  </div>
        <div class="form-group">
				  <label for="usedw">5. How many customers used your product or service more than two times in the same week? (may not be applicable to all industries)</label>
				  <input type="number" class="form-control" ng-model="engagement.usedw" id="usedw" placeholder="">
			  </div>
			  <button type="submit" ng-click="saveEngagement()" class="btn btn-primary">Submit</button>
        <button ng-click="cancel()" class="btn btn-default">Cancel</button>
			</form>
		</div>
	</div>

</div>